<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
	<!-- Modal header -->
	<div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
		<h3 class="text-xl font-semibold text-gray-900 dark:text-white">
			Static modal
		</h3>
		<button type="button" id="close-modal-button"
			class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
			data-modal-hide="static-modal">
			<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
					d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
			</svg>
			<span class="sr-only">Close modal</span>
		</button>
	</div>
	<!-- Modal body -->
	<div class="flex items-center justify-center w-full p-4">
		@using (Html.BeginForm("UploadFile", "pcloud", FormMethod.Post, new
		{
		enctype = "multipart/form-data"
		}))
		{
		@Html.DropDownList("Folders", new SelectList(), "Select a Folder", new {@class =
		"form-control"})
		<label class="mb-2 text-sm font-medium text-gray-900 dark:text-white" for="Files">Upload multiple files</label>
		<input
			class="w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
			id="Files" name="Files" type="file" multiple="multiple">
		@if (ViewBag.Message == "Please select a file.")
		{
		<p>@ViewBag.Message</p>
		}
		<input id="dropzone-file" type="submit" />
		}
	</div>
	<!-- Modal footer -->
	<div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
		<button data-modal-hide="default-modal" type="submit"
			class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit
			File</button>
		<button data-modal-hide="default-modal" type="button" id="cancel-upload-button"
			class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Decline</button>
	</div>
</div>