@model IEnumerable<FiDa.Models.FileUpload>
@{
	ViewData["Title"] = "pCloud";
}

<div class="p-4">
	<div class="pb-4 flex justify-between">
		<span class="text-5xl font-semibold">pCloud</span>
		<img src="/Public/pCloud.jpg" alt="pCloud" width="50" height="50" />
	</div>
	<hr class="bg-slate-600 rounded-full h-2" />

	<div class="relative overflow-x-auto py-4">
		<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
			<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
				<tr>
					<th scope="col" class="px-6 py-3">
						Filename
					</th>
					<th scope="col" class="px-6 py-3">
						Size
					</th>
					<th scope="col" class="px-6 py-3">
						Host
					</th>
					<th scope="col" class="px-6 py-3">
						Modification Date
					</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>

	<div class="py-4">
		<!-- Modal toggle -->
		<button data-modal-target="static-modal" data-modal-toggle="static-modal"
				class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
				type="button"
				onclick="@Html.RenderPartial("_UploadFile")"
				id="toggle-modal-button">
			Upload a file!
		</button>
	</div>

	<script>
		["toggle-modal-button", "close-modal-button"].forEach((id) => {
			document.getElementById(id).addEventListener("click", () => {
				const classes = document.getElementById("static-modal").classList;
				classes.contains("hidden")
					? classes.remove(classes.remove("hidden"))
					: classes.add("hidden");
			})
		})
	</script>

</div>