@{
ViewData["Title"] = "One Drive";
}

<div class="p-4">
    <div class="pb-4 flex justify-between">
        <span class="text-5xl font-semibold">One Drive</span>
        <img src="/Public/OneDrive.jpg" alt="One Drive" width="50" height="50" />
    </div>
    <hr class="bg-slate-600 rounded-full h-2" />
    <div class="pt-8">
        here will be a data table
    </div>
    <div>and here will be a upload button</div>
</div>